body {
    font-family: Verdana, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
}

h1 {
    text-align: center;
    background-color: #222;
    color: #fff;
}

h2 {
    text-align: center;
    color: #fff;
}
.about {
    text-align: center;
    background-color: #e6f7ff;
    
}

.skills {
    background-color: #fff0f5;
    text-align: center;
}

.projects {
    background-color: #f9f9e6;
    text-align: center;
}

.contact {
    background-color: #f0fff0;
    text-align: center;
}
