body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #131212;
    color: #fff;
    margin: 0;
}

.about {
    background-color: #cde8f5;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.skills {
    background-color: #e6ffa2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}



.contact {
    background-color: #f0fff0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


h2 {
    text-align: center;
    color: #444;
    margin-top: 0;
}

p {
    text-align: left;
}


.projects {
    background-color: #ffa1a1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.projects img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
}

a { 
text-decoration: none;
color: purple;
}


.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 80px;      /* smaller image */
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}
